#s-f2655c18-98d0-461b-851f-19466389bcdc > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FECB6E), color-stop(100%,#653308));
  background-image: -o-linear-gradient(top,#FECB6E,#653308);
  background-image: linear-gradient(to bottom,#FECB6E,#653308);
  position: absolute;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Footer-6 {
  position: absolute;
  width: 1024px;
  height: 168px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FECB6E), color-stop(100%,#653308));
  background-image: -o-linear-gradient(top,#FECB6E,#653308);
  background-image: linear-gradient(to bottom,#FECB6E,#653308);
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Bg {
  position: absolute;
  width: 1024px;
  height: 168px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Bg > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Bg > .paddingLayer {
  height: 168px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Bg span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Bg span#rtr-s-Bg_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title {
  position: absolute;
  width: 125px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title > .paddingLayer {
  height: 16px;
  width: 125px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title span#rtr-s-Title_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_3 {
  position: absolute;
  width: 111px;
  height: 92px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_3 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_3 > .paddingLayer {
  height: 92px;
  width: 111px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_3 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_9 > svg {
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_9 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_9 > img, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_9 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_10 > svg {
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_10 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_10 > img, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_10 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_31 > svg {
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_31 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_31 > img, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_31 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_1 {
  position: absolute;
  width: 125px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_1 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_1 > .paddingLayer {
  height: 16px;
  width: 125px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_1 span#rtr-s-Title_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_2 {
  position: absolute;
  width: 125px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_2 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_2 > .paddingLayer {
  height: 16px;
  width: 125px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_2 span#rtr-s-Title_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_19 {
  position: absolute;
  width: 151px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_19 > img, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Image_19 > svg {
  height: 47px;
  width: 151px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_3 {
  position: absolute;
  width: 125px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_3 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_3 > .paddingLayer {
  height: 16px;
  width: 125px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Title_3 span#rtr-s-Title_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_4 {
  position: absolute;
  width: 111px;
  height: 92px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_4 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_4 > .paddingLayer {
  height: 92px;
  width: 111px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_4 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 {
  position: absolute;
  width: 235px;
  height: 36px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
  text-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_3 > .paddingLayer {
  height: 32px;
  width: 216px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Group_1 {
  position: absolute;
  width: 488px;
  height: 513px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FECB6E), color-stop(100%,#653308));
  background-image: -o-linear-gradient(top,#FECB6E,#653308);
  background-image: linear-gradient(to bottom,#FECB6E,#653308);
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 {
  position: absolute;
  width: 488px;
  height: 513px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 > .paddingLayer {
  height: 513px;
  width: 488px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 {
  position: absolute;
  width: 140px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 > .paddingLayer {
  height: 18px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: right;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 {
  position: absolute;
  width: 140px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 > .paddingLayer {
  height: 18px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #BC9959;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar > .paddingLayer {
  height: 43px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar span#rtr-s-Botoningresar_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 {
  position: absolute;
  width: 360px;
  height: 48px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 > .paddingLayer {
  height: 44px;
  width: 341px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 {
  position: absolute;
  width: 360px;
  height: 48px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 > .paddingLayer {
  height: 44px;
  width: 341px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}