#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 {
  -pie-background: linear-gradient(to bottom,#FECB6E,#653308);
  -pie-poll: false;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Line_1 {
  stroke-width: 5px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Line_1 {
  stroke-width: 5px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-streetMap {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}