#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-linear-gradient(top,#FECB6E,#653308);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FECB6E), color-stop(100%,#653308));
  background-image: -o-linear-gradient(top,#FECB6E,#653308);
  background-image: linear-gradient(to bottom,#FECB6E,#653308);
  position: absolute;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 {
  position: absolute;
  width: 569px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 > .paddingLayer {
  height: 52px;
  width: 569px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Line_1 marker {
  fill: #404040;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 975px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Line_1 {
  width: 975px;
  height: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 5px;
  stroke: #404040;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_1 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_1 {
  position: absolute;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_1 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_1 > svg {
  height: 43px;
  width: 41px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_24 {
  position: absolute;
  width: 135px;
  height: 40px;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_24 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_24 > svg {
  height: 40px;
  width: 135px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #DDDDDD;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 {
  position: absolute;
  width: 493px;
  height: 389px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 > .paddingLayer {
  height: 389px;
  width: 493px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-streetMap > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-streetMap {
  position: absolute;
  width: 477px;
  height: 372px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-streetMap > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-streetMap > svg {
  height: 372px;
  width: 477px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_25 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_25 {
  position: absolute;
  width: 39px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_25 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_25 > svg {
  height: 60px;
  width: 39px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle > .shapert-clipping {
  width: 21px;
  height: 25px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 21px;
  height: 25px;
  position: absolute;
  overflow: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle .content {
  text-shadow: none;
  width: 21px;
  height: 25px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle {
  position: absolute;
  width: 21px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Circle {
  width: 21px;
  height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Circle span#rtr-s-Circle_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 {
  position: absolute;
  width: 350px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 > .paddingLayer {
  height: 39px;
  width: 350px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 {
  position: absolute;
  width: 191px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 > .paddingLayer {
  height: 20px;
  width: 191px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_26 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_26 {
  position: absolute;
  width: 39px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_26 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_26 > svg {
  height: 60px;
  width: 39px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_27 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_27 {
  position: absolute;
  width: 39px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_27 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_27 > svg {
  height: 60px;
  width: 39px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 {
  position: absolute;
  width: 229px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 > .paddingLayer {
  height: 49px;
  width: 229px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 {
  position: absolute;
  width: 191px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 > .paddingLayer {
  height: 20px;
  width: 191px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Toggle-switch {
  position: absolute;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On {
  width: 56px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On .verticalalign {
  vertical-align: top;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 {
  position: absolute;
  width: 56px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 > .paddingLayer {
  height: 24px;
  width: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_8 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_8 {
  position: absolute;
  width: 10px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_8 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_8 > svg {
  height: 8px;
  width: 10px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 > .shapert-clipping {
  width: 19px;
  height: 19px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  overflow: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  width: 19px;
  height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_7 {
  width: 19px;
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off {
  width: 56px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off .verticalalign {
  vertical-align: top;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CBCBCB;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 {
  position: absolute;
  width: 56px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 > .paddingLayer {
  height: 24px;
  width: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_10 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_10 {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_10 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_10 > svg {
  height: 10px;
  width: 10px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 > .shapert-clipping {
  width: 19px;
  height: 19px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  overflow: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  width: 19px;
  height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_8 {
  width: 19px;
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #EDEDED;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_28 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_28 {
  position: absolute;
  width: 39px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_28 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_28 > svg {
  height: 60px;
  width: 39px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 {
  position: absolute;
  width: 229px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 > .paddingLayer {
  height: 49px;
  width: 229px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 {
  position: absolute;
  width: 191px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 > .paddingLayer {
  height: 20px;
  width: 191px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Toggle-switch_1 {
  position: absolute;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On_1 {
  width: 56px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-On_1 .verticalalign {
  vertical-align: top;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 {
  position: absolute;
  width: 56px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 > .paddingLayer {
  height: 24px;
  width: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_9 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_9 {
  position: absolute;
  width: 10px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_9 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_9 > svg {
  height: 8px;
  width: 10px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 > .shapert-clipping {
  width: 19px;
  height: 19px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  overflow: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  width: 19px;
  height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_9 {
  width: 19px;
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off_1 {
  width: 56px;
  height: 24px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Off_1 .verticalalign {
  vertical-align: top;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CBCBCB;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 {
  position: absolute;
  width: 56px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 > .paddingLayer {
  height: 24px;
  width: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_11 > svg {
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_11 {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_11 > img, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Image_11 > svg {
  height: 10px;
  width: 10px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 > .shapert-clipping {
  width: 19px;
  height: 19px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  overflow: hidden;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  width: 19px;
  height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Ellipse_10 {
  width: 19px;
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #EDEDED;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 {
  position: absolute;
  width: 194px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 > .paddingLayer {
  height: 50px;
  width: 194px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 {
  position: absolute;
  width: 161px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 > .clipping, #s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 > .paddingLayer {
  height: 48px;
  width: 159px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3a6167f4-3ce1-4ed6-92e9-20e4d5e467f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}