#s-1f0a4041-18a8-4471-bde6-b4691ece2bf8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f0a4041-18a8-4471-bde6-b4691ece2bf8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}