#s-3473e71a-cc4e-42a9-8534-b26665fff8fb #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3473e71a-cc4e-42a9-8534-b26665fff8fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}