#s-833e6f4f-0d01-495f-8188-caa65162c0d3 > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D7C9AA), color-stop(100%,#F0F3F5));
  background-image: -o-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  position: absolute;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
  margin: 0 auto;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_1 {
  width: 705px;
  height: 438px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 705px;
  height: 438px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 {
  position: absolute;
  width: 446px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.999998pt;
  font-family: 'Muli-Regular',Arial;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 > .clipping, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 > .paddingLayer {
  height: 95px;
  width: 446px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Muli-Regular',Arial;
  font-size: 24.999998pt;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Muli-Regular',Arial;
  font-size: 24.999998pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #0B7A75;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 36px 36px 36px 36px;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 {
  position: absolute;
  width: 271px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 10.5pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 > .clipping, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 > .paddingLayer {
  height: 67px;
  width: 267px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 span#rtr-s-Action_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #0B7A75;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 36px 36px 36px 36px;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 {
  position: absolute;
  width: 271px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 10.5pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 > .clipping, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 > .paddingLayer {
  height: 67px;
  width: 267px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 span#rtr-s-Action_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 span#rtr-s-Action_4_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #0B7A75;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 36px 36px 36px 36px;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 {
  position: absolute;
  width: 271px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 10.5pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 > .clipping, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 > .paddingLayer {
  height: 67px;
  width: 267px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 span#rtr-s-Action_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 span#rtr-s-Action_5_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_2 {
  width: 736px;
  height: 882px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 736px;
  height: 882px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Browser_1 {
  position: absolute;
  width: 673px;
  height: 849px;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_4 > svg {
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_4 {
  position: absolute;
  width: 15px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_4 > img, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_4 > svg {
  height: 27px;
  width: 15px;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_2 {
  position: absolute;
  width: 131px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_2 > img, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_2 > svg {
  height: 39px;
  width: 131px;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_5 > svg {
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_5 {
  position: absolute;
  width: 30px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_5 > img, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_5 > svg {
  height: 35px;
  width: 30px;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 > .clipping, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 > .clipping, #s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 894px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Line_1 {
  width: 894px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}