#s-833e6f4f-0d01-495f-8188-caa65162c0d3 {
  -pie-background: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  -pie-poll: false;
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 36px 36px 36px 36px;
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 36px 36px 36px 36px;
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Action_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 36px 36px 36px 36px;
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-833e6f4f-0d01-495f-8188-caa65162c0d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}