#s-a58cd593-deec-4a87-81f8-19906c393905 {
  -pie-background: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  -pie-poll: false;
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Bg_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Bg_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Bg_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Bg_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-a58cd593-deec-4a87-81f8-19906c393905 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}