#s-adf795ae-aef1-45f0-9864-f08dc8104cff > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D7C9AA), color-stop(100%,#F0F3F5));
  background-image: -o-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  position: absolute;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
  margin: 0 auto;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #0B7A75;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 > .clipping, #s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 > .paddingLayer {
  height: 41px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 span {
  color: #F0F3F5;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #F0F3F5;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F0F3F5;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 > .clipping, #s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 > .paddingLayer {
  height: 41px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Website_1 {
  position: absolute;
  width: 1023px;
  height: 659px;
  box-shadow: none;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}