#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-adf795ae-aef1-45f0-9864-f08dc8104cff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}