#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}