#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 {
  -pie-background: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  -pie-poll: false;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #0B7A75;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #0B7A75;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #0B7A75;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #0B7A75;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}