#s-f0cac081-71d8-404e-b4e9-38cc7191b806 {
  -pie-background: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  -pie-poll: false;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Line_2 {
  stroke-width: 5px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Line_2 {
  stroke-width: 5px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}