#s-f2655c18-98d0-461b-851f-19466389bcdc {
  -pie-background: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  -pie-poll: false;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 61px 61px 61px 61px;
  -ms-transform: rotate(0.0deg);
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f2655c18-98d0-461b-851f-19466389bcdc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}