#s-f2655c18-98d0-461b-851f-19466389bcdc > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D7C9AA), color-stop(100%,#F0F3F5));
  background-image: -o-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  position: absolute;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
  margin: 0 auto;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Group_1 {
  position: absolute;
  width: 490px;
  height: 515px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D7C9AA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 61px 61px 61px 61px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 {
  position: absolute;
  width: 490px;
  height: 515px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 > .paddingLayer {
  height: 513px;
  width: 488px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 {
  position: absolute;
  width: 140px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 > .paddingLayer {
  height: 18px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: right;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 {
  position: absolute;
  width: 140px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 > .paddingLayer {
  height: 18px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #0B7A75;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar > .paddingLayer {
  height: 43px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Botoningresar span#rtr-s-Botoningresar_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 {
  position: absolute;
  width: 360px;
  height: 48px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_1 > .paddingLayer {
  height: 44px;
  width: 341px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 {
  position: absolute;
  width: 360px;
  height: 48px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Input_2 > .paddingLayer {
  height: 44px;
  width: 341px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Muli-Regular',Arial;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 > .clipping, #s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 span {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'Muli-Regular',Arial;
  font-size: 28.0pt;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'Muli-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Category_1 td {
  vertical-align: top;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Category_1 {
  position: absolute;
  width: 276px;
  height: 30px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc #s-Category_1 > .scroll {
  height: 28px;
  width: 269px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  margin-right: 1px;
}
#s-f2655c18-98d0-461b-851f-19466389bcdc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}