#s-fa08a382-ee90-419b-bc68-af2522cb05df {
  -pie-background: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  -pie-poll: false;
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Action {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 36px 36px 36px 36px;
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Action_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 34px 34px 34px 34px;
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Action_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BC9959;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BC9959;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BC9959;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BC9959;
  border-radius: 34px 34px 34px 34px;
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-fa08a382-ee90-419b-bc68-af2522cb05df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}