#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}