#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Image_35 > svg {
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Image_35 {
  position: absolute;
  width: 30px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Image_35 > img, #m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Image_35 > svg {
  height: 35px;
  width: 30px;
  box-shadow: none;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 > .clipping, #m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_1 span#rtr-m-6cf75a18-Text_1_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 > .clipping, #m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180 #m-6cf75a18-Text_2 span#rtr-m-6cf75a18-Text_2_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-6cf75a18-ba9e-4f9f-97c6-1eeecd8a2180.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}