#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Table_1 {
  border-collapse: separate;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}