#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Table_1 {
  position: absolute;
  width: 691px;
  height: 223px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Table_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Table_1 > table {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_1 {
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_1 span#rtr-m-877eabc5-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_4 {
  width: 156px;
  height: 36px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_4 span#rtr-m-877eabc5-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_7 {
  width: 162px;
  height: 36px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_7 span#rtr-m-877eabc5-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_10 {
  width: 141px;
  height: 36px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_10 span#rtr-m-877eabc5-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_2 {
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_2 span#rtr-m-877eabc5-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_5 {
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_5 span#rtr-m-877eabc5-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_8 {
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_8 span#rtr-m-877eabc5-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_11 {
  width: 141px;
  height: 36px;
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_11 span#rtr-m-877eabc5-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_3 {
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_3 span#rtr-m-877eabc5-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_6 {
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_6 span#rtr-m-877eabc5-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_9 {
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_9 span#rtr-m-877eabc5-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_12 {
  width: 141px;
  height: 36px;
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_12 span#rtr-m-877eabc5-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_13 {
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_13 span#rtr-m-877eabc5-Text_cell_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_13 span#rtr-m-877eabc5-Text_cell_13_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_14 {
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_14 span#rtr-m-877eabc5-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_14 span#rtr-m-877eabc5-Text_cell_14_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_15 {
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_15 span#rtr-m-877eabc5-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_15 span#rtr-m-877eabc5-Text_cell_15_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_15 span#rtr-m-877eabc5-Text_cell_15_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_16 {
  width: 141px;
  height: 36px;
  background-color: #FF0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_16 span#rtr-m-877eabc5-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_17 {
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_17 span#rtr-m-877eabc5-Text_cell_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_17 span#rtr-m-877eabc5-Text_cell_17_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_18 {
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_18 span#rtr-m-877eabc5-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_18 span#rtr-m-877eabc5-Text_cell_18_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_19 {
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_19 span#rtr-m-877eabc5-Text_cell_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_19 span#rtr-m-877eabc5-Text_cell_19_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_20 {
  width: 141px;
  height: 36px;
  background-color: #00FF00;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_20 span#rtr-m-877eabc5-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_21 {
  width: 179px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_21 span#rtr-m-877eabc5-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_22 {
  width: 156px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_22 span#rtr-m-877eabc5-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_23 {
  width: 162px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_23 span#rtr-m-877eabc5-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_23 span#rtr-m-877eabc5-Text_cell_23_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_23 span#rtr-m-877eabc5-Text_cell_23_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_24 {
  width: 141px;
  height: 36px;
  background-color: #00FF00;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  padding-left: 12px;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2 #m-877eabc5-Text_cell_24 span#rtr-m-877eabc5-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-877eabc5-afbf-428a-9c9e-9214c365aba2.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}