#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Line_2 {
  stroke-width: 5px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Line_2 {
  stroke-width: 5px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
}
#s-1c630d6c-b02e-4027-b34b-279139298991 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}