#s-27b83016-a189-4ad0-b326-87a66a355a52 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27b83016-a189-4ad0-b326-87a66a355a52 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}