#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Prende {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-enchufado {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Prende_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-enchufado_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-enchufado_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fcb02-c97f-438d-adf3-a8de486ad7ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}