#s-9d6014d6-15ff-454f-88d4-9093b06ddce1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d6014d6-15ff-454f-88d4-9093b06ddce1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}