#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D7C9AA), color-stop(100%,#F0F3F5));
  background-image: -o-linear-gradient(top,#D7C9AA,#F0F3F5);
  background-image: linear-gradient(to bottom,#D7C9AA,#F0F3F5);
  position: absolute;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
  margin: 0 auto;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Muli-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Muli-Regular',Arial;
  font-size: 28.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Muli-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 input::-webkit-input-placeholder {
  color: #19535F;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 input::-moz-placeholder {
  color: #19535F;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 input:-moz-placeholder {
  color: #19535F;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 input:-ms-input-placeholder {
  color: #19535F;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 {
  position: absolute;
  width: 588px;
  height: 263px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 16.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 input {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 16.0pt;
  text-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0B7A75;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0B7A75;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0B7A75;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0B7A75;
  border-radius: 13px 13px 13px 13px;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Input_1 > .paddingLayer {
  height: 247px;
  width: 557px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 13px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #0B7A75;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #0B7A75;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #0B7A75;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #0B7A75;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #0B7A75;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 > .paddingLayer {
  height: 43px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #7B2D26;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 > .paddingLayer {
  height: 41px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 {
  position: absolute;
  width: 10px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Group_1 {
  position: absolute;
  width: 188px;
  height: 263px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 {
  position: absolute;
  width: 169px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 > .paddingLayer {
  height: 26px;
  width: 169px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 span {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 {
  position: absolute;
  width: 159px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 > .paddingLayer {
  height: 26px;
  width: 159px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 span {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 {
  position: absolute;
  width: 164px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 > .paddingLayer {
  height: 26px;
  width: 164px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 span {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 {
  position: absolute;
  width: 165px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 > .paddingLayer {
  height: 26px;
  width: 165px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 span {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 {
  position: absolute;
  width: 166px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 > .paddingLayer {
  height: 26px;
  width: 166px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 span {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #19535F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 > .shapert-clipping {
  width: 10px;
  height: 10px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  width: 10px;
  height: 10px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_6 {
  width: 10px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 > .shapert-clipping {
  width: 10px;
  height: 10px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  width: 10px;
  height: 10px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_7 {
  width: 10px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 > .shapert-clipping {
  width: 10px;
  height: 10px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  width: 10px;
  height: 10px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_8 {
  width: 10px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 > .shapert-clipping {
  width: 10px;
  height: 10px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  width: 10px;
  height: 10px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_9 {
  width: 10px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 > .shapert-clipping {
  width: 10px;
  height: 10px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  width: 10px;
  height: 10px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Ellipse_10 {
  width: 10px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_2 {
  position: absolute;
  width: 131px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_2 > img, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_2 > svg {
  height: 39px;
  width: 131px;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_5 > svg {
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_5 {
  position: absolute;
  width: 30px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_5 > img, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Image_5 > svg {
  height: 35px;
  width: 30px;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 > .clipping, #s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 894px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 #s-Line_1 {
  width: 894px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-d4613608-b4c5-4f37-b3ca-308929fbdfa1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}