#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0cac081-71d8-404e-b4e9-38cc7191b806 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}