#s-f2689a6f-b80d-4b08-99d0-d68d7bf76dfc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2689a6f-b80d-4b08-99d0-d68d7bf76dfc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2689a6f-b80d-4b08-99d0-d68d7bf76dfc #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2689a6f-b80d-4b08-99d0-d68d7bf76dfc #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2689a6f-b80d-4b08-99d0-d68d7bf76dfc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2689a6f-b80d-4b08-99d0-d68d7bf76dfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}