#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Line_3 {
  rotation: 90.0;
  margin-left: 6px;
  margin-top: -7px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}