#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Group_1 {
  position: absolute;
  width: 1024px;
  height: 150px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 {
  position: absolute;
  width: 1024px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 > .paddingLayer {
  height: 150px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Rectangle_1 span#rtr-m-50ab79f6-Rectangle_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_2 {
  position: absolute;
  width: 131px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_2 > img, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_2 > svg {
  height: 39px;
  width: 131px;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #shapewrapper-m-50ab79f6-Line_1 marker {
  fill: #000000;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #shapewrapper-m-50ab79f6-Line_1 {
  position: absolute;
  width: 915px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Line_1 {
  width: 915px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #000000;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_19 span#rtr-m-50ab79f6-Text_19_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_20 span#rtr-m-50ab79f6-Text_20_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #shapewrapper-m-50ab79f6-Line_3 marker {
  fill: #464646;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #shapewrapper-m-50ab79f6-Line_3 {
  position: absolute;
  width: 14px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Line_3 {
  width: 14px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #464646;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_21 span#rtr-m-50ab79f6-Text_21_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_22 span#rtr-m-50ab79f6-Text_22_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_23 span#rtr-m-50ab79f6-Text_23_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_25 span#rtr-m-50ab79f6-Text_25_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_26 span#rtr-m-50ab79f6-Text_26_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_27 span#rtr-m-50ab79f6-Text_27_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_3 > svg {
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_3 {
  position: absolute;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_3 > img, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_3 > svg {
  height: 20px;
  width: 19px;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_1 > svg {
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_1 {
  position: absolute;
  width: 30px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_1 > img, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Image_1 > svg {
  height: 35px;
  width: 30px;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_10 span#rtr-m-50ab79f6-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 > .clipping, #m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205 #m-50ab79f6-Text_11 span#rtr-m-50ab79f6-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-50ab79f6-ff2a-41fa-a01f-3f98a9b2f205.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}