#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Line_3 {
  stroke-width: 1px;
  stroke: #464646;
  -ms-transform: rotate(90.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Line_3 {
  stroke-width: 1px;
  stroke: #464646;
  -ms-transform: rotate(90.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}