#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Dynamic_Panel_1 {
  position: absolute;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Panel_1 {
  width: 1024px;
  height: 150px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Group_2 {
  position: absolute;
  width: 1024px;
  height: 150px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 {
  position: absolute;
  width: 1024px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 > .clipping, #m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 > .paddingLayer {
  height: 150px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Rectangle_2 span#rtr-m-621f7c8e-Rectangle_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_2 {
  position: absolute;
  width: 131px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_2 > img, #m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_2 > svg {
  height: 39px;
  width: 131px;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #shapewrapper-m-621f7c8e-Line_3 marker {
  fill: #464646;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #shapewrapper-m-621f7c8e-Line_3 {
  position: absolute;
  width: 14px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Line_3 {
  width: 14px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #464646;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_3 > svg {
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_3 {
  position: absolute;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_3 > img, #m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_3 > svg {
  height: 20px;
  width: 19px;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_4 > svg {
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_4 {
  position: absolute;
  width: 30px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_4 > img, #m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Image_4 > svg {
  height: 35px;
  width: 30px;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 > .clipping, #m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_17 span#rtr-m-621f7c8e-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 > .clipping, #m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388 #m-621f7c8e-Text_18 span#rtr-m-621f7c8e-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-621f7c8e-aeac-4eb9-be09-b075e0a1b388.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}