head {
margin: 0px;
align-content: center
}



h1{
    display: block;
    font: 200;
    text-align: center

    
}

div{
    font-family: 'Raleway', sans-serif;
}


body {

background-color:#4667ec;
color: #efefef;
font-family: 'Raleway', sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    -ms-ime-align: center;
    border-radius: 15px 50px
  }

.IngresoDatos{
   background-color: black;
   width:20%;
   height:200%;
   text-align: center;
   border-radius:30px;
   margin:auto;
   font-weight: bold;
}  

.Usuario{
    font-family: 'Raleway', sans-serif;
    background-color: blanchedalmond;
    margin-left:auto; 
    border-radius: 40px;
}  

.Contra{
    font-family: 'Raleway', sans-serif;
    background-color: blanchedalmond;
    margin-left:auto; 
    border-radius: 40px;
}  

.BotonIng{
    background-color: green;
    color: whitesmoke;
    text-align: center
}

.BotonIng{
font-family: 'Raleway', sans-serif;
text-align: center;
border-radius: 20px;
}

